@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 18px;
}

a {
    color: #e40007;
    font-weight: bold;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/code-writing.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
}

ul>li h3{
    margin: 24px 0px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.mobile {
    display: none;
}

.full-screen {
    display: block;
}

ul>li ul, ul>li ul p, ul>li p {
    margin-left: 100px;
}

.sec-img {
    height: 430px;
}

.half-img {
    width: 600px;
    /* display: inline-block; */
}

hr {
    height: 6px;
    margin: 16px auto;
    width: 200px;
    background-color: #e40007;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #ddd;
}

.social {
    text-align: center;
}

.fa {
    margin: 16px;
}

img {
    margin: 0 auto 0 100px;
}
/* .white-text {
    color: #fff !important;
} */

@media screen and (max-width: 600px) {
    li {
        margin-left: 0px;
    }

    ul>li ul, ul>li ul p, ul>li p {
        margin-left: 0px;
    }

    .mobile {
        display: block;
    }

    .full-screen {
        display: none;
    }

    img {
        max-width: 350px;
        margin-left: -40px;
    }

    .panel-default>.panel-heading {
        background-color: rgba(0,0,0,.6);
        border-color: black;
        color: white;
        padding: 40px 10px;
    }

    .panel-default>.panel-heading a:focus {
        color: yellow;
        text-decoration: none;
    }

    .panel-default>.panel-heading a:hover {
        color: #333;
        text-decoration: none;
    }
}