@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600);

/*=================================UNIVERSAL=================================*/
body {
	background: fixed;
	background-image: url("../img/background-cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #169999;
}

.container-fluid {
	overflow: hidden;
}

.text-justify {
	text-align: justify;
}

.block {
	display: block;
}

.center {
	text-align: center;
}

a:visited, a:hover, a:visited, a:focus {
	text-decoration: none;
}

.fine-print p {
	font-size: 10px
}
/*================================MAIN BODY==========================*/

.call {
	font-family: 'Cuprum', sans-serif;
}

.call h1 {
	margin-top: 200px;
	color: #169999;
	font-size: 4em;
}

.call h2 {
	margin-top: 130px;
	color: #CFCFCF;
}

.pitch-row {
	margin-top: 350px;
}

.pitch p {
	line-height: 2em;
	font-size: 1.5em;
}

.pitch {
	background-color: rgba(255, 255, 255, .5);
	color: #000;
	margin-top: 50px;
	font-family: 'Audiowide', cursive;
}

.signature {
	float: right;
	font-size: 18px;
}

.mid-blocks {
	margin-top:20%;
	margin-bottom:15%;
}

.mid-blocks .col-md-3 {
	border-radius: 5%;
}

.mid-blocks h2 {
	padding-top: 85px;
	margin-bottom: 100px;
	font-family: 'Titillium Web', sans-serif;
	color:#fff;
	font-size: 35px;
}


.resume {
	background-color: rgba(0, 0, 0, .78);
}

.resume:hover, .copywrite:hover, .GIT:hover {
	background-color: rgba(255, 255, 255, .78);
}

.resume:hover .text-center, .copywrite:hover .text-center, .GIT:hover .text-center {
	color: #169999;
}

.GIT {
	background-color: rgba(0, 0, 0, .78);
	margin:auto 5%;
}

.copywrite {
	background-color: rgba(0, 0, 0, .78);
}

.mid-frame {
	margin: 0 20px;
}

.box {
    position:relative;
}

.box:after, .box:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.box:after {
    content:'\A';
		width: 95.3%;
    height: 100%;
    top: 0;
    left: 15px;
    background:rgba(0, 0, 0, .75);
}

.box:before {
    content: attr(data-content);
    width:95.3%;
    color:#fff;
    z-index:1;
		left:16px;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:#169999;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.box:hover:after, .box:hover:before {
    opacity:1;
}

 [data-content]:before {
	 font-family: 'Titillium Web', fantasy, sans-serif;
	 font-size: 24px
 }

 .samples {
	 min-height: 150vh;

 }

 .example-title {
	 background-color: rgba(255, 255, 255, 0.5);
	 color: #000;
	 margin-bottom: 100px;
	 padding: 10px 0;
	 border-radius: 10px;
	 font-family: Cuprum, sans-serif;
 }

 .col-md-6 .scheduler {
	 height: 315px;
 }
/*==============================CONTACT==============================*/

p a {
	text-decoration: none;
	text-transform: none;
	color:#000;
}

p a:hover {
	text-decoration: none;
	color:#fff;

}

.contact {
	margin-top: 10%;
	margin-bottom:20%;
	padding: 20px;
	font-family: 'Permanent Marker', cursive;
	color:#fff;
	font-size: 1.2em;
	background-color: rgba(69, 69, 69, .75);
}

address {
	color: #000;
}

.phone a{
	color: #000;
	text-decoration: none;
}

.phone a:hover {
	color: #fff;
}

.parllax-bkgd {
	min-height:100vh;
	padding:10% 0;
	background-attachment: fixed;
	background-image: url('../img/code.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/*=============================FOOTER=============================*/

footer {
	height:30%;
	background-color: rgba(25, 25, 25, .7);
	color: #fff;
}

i {
	padding-right: 40px;
	color:#fff;
	margin-top: 10px;
}

i:hover {
	color: #169999;
}

footer p {
	margin-top: 18px;
}
/*===============================MEDIA QUERIES======================*/

@media (min-width: 768px) {
}

@media (max-width: 768px) {
	.contact {
		margin-right: none;
	}

	.social{
		text-align: center;
	}

	.social i {
		margin: 0;
		font-size:45px;
	}

	footer p {
		text-align: center;
	}

	.GIT {
		margin: 0;
	}

}
