@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Cuprum:700|Audiowide);

/*=================================UNIVERSAL=================================*/
body {
	background: fixed;
	background-image: url("../img/background-cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container-fluid {
	overflow: hidden;
}

/*================================MAIN BODY==========================*/

.call h1 {
	margin-top: 200px;
	color: #169999;
	font-size: 4em;
}

.call h2 {
	margin-top: 130px;
	color: #CFCFCF 
}

.call {
	font-family: 'Cuprum', sans-serif;
}

.pitch {
	background-color: rgba(255, 255, 255, .5);
	color: #000;
	height:100%;
	width: 50%;
	margin-top: 300px;
	font-family: 'Audiowide', cursive;
}

.pitch p {
	line-height: 2em;
	font-size: 1.5em;
}

.pitch strong {
	color: #381212;
}

.mid-blocks {
	margin-top:20%;
	margin-bottom:15%;
}

#mid-blocks .col-sm-3{
	border-radius: 5%;
}

.mid-blocks h2 {
	padding-top: 85px;
	margin-bottom: 100px;
	font-family: 'Titillium Web', sans-serif;
	color:#fff;
	font-size: 35px;
}

.mid-blocks h2:hover {
	font-size: 2.2em;
}

.resume {
	background-image: url("../img/resume.jpg");
	background-repeat: no-repeat;
	background-position: center;	
	background-size: cover;
}

.GIT {
	background-image: url("../img/code-writing.jpg");
	background-repeat: no-repeat;
	background-position: center;	
	background-size: cover;
}

.copywrite {
	background-image: url("../img/copywrite.jpg");
	background-repeat: no-repeat;
	background-position: center;	
	background-size: cover;

}

/*==============================CONTACT==============================*/

p a {
	text-decoration: none;
	text-transform: none;
	color:#000;
}

p a:hover {
	text-decoration: none;
	color:#fff;

}

.contact {
	margin-top: 10%;
	margin-bottom:20%;
	font-family: 'Permanent Marker', cursive;
	color:#fff;
	font-size: 1.2em;
	background-color: rgba(69, 69, 69, .75);
	position: center;
}

address {
	color: #000;
}

/*=============================FOOTER=============================*/

footer {
	height:30%;
	background-color: rgba(25, 25, 25, .7);
	color: #fff;
}

i {
	padding-right: 40px;
	color:#fff;
	margin-top: 10px;
}

i:hover {
	font-size: 2.2em;
}

footer p {
	margin-top: 18px;
}
/*===============================MEDIA QUERIES======================*/

@media (min-width: 768px) {
	.mid-blocks {
		margin-right: 90px;
	}
}

@media (max-width: 768px) {
	.pitch {
		width:100%;
	}
	.social{
		text-align: center;
	}
	.social i {
		margin: 0;
		font-size:45px;
	}	
	footer p {
		text-align: center;
	}
}
