body {
  color: #fff; }
  body .flex-container {
    display: flex;
    align-items: flex-start; }
    body .flex-container > aside {
      width: 5vw;
      height: 100vh;
      background: #181818;
      justify-content: space-between;
      align-items: center;
      display: flex;
      flex-direction: column;
      animation: sidebar-in 1.5s ease-in; }
      body .flex-container > aside .nav-links, body .flex-container > aside .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        body .flex-container > aside .nav-links a, body .flex-container > aside .social-icons a {
          margin-top: 24%; }
          body .flex-container > aside .nav-links a.sidebar-link, body .flex-container > aside .social-icons a.sidebar-link {
            visibility: hidden; }
          body .flex-container > aside .nav-links a svg, body .flex-container > aside .social-icons a svg {
            fill: #4B4B4C; }
          body .flex-container > aside .nav-links a i, body .flex-container > aside .social-icons a i {
            color: #4B4B4C; }
          body .flex-container > aside .nav-links a:hover svg, body .flex-container > aside .social-icons a:hover svg {
            fill: #75FFE7;
            transition: all 0.2s ease-in-out; }
          body .flex-container > aside .nav-links a:hover i, body .flex-container > aside .social-icons a:hover i {
            color: #75FFE7;
            transition: all 0.2s ease-in-out; }
    body .flex-container > main {
      width: 95vw;
      height: 100vh;
      background: #fff; }
      body .flex-container > main .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        animation: fade-in 2s ease-in;
        height: 80vh; }
        body .flex-container > main .hero .bg-image {
          background-image: url("../img/portfolio.jpg");
          background-position: center;
          background-size: cover;
          -webkit-filter: grayscale(100%) blur(1.5px);
          filter: grayscale(100%) blur(1.5px);
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          z-index: 0; }
        body .flex-container > main .hero h1 {
          font-size: 4em;
          position: relative;
          z-index: 1;
          margin-top: 0px;
          color: #75FFE7; }
        body .flex-container > main .hero h3 {
          position: relative;
          z-index: 1;
          animation: typing 5.5s 2s steps(100, end);
          white-space: nowrap;
          overflow: hidden;
          width: 0; }
        body .flex-container > main .hero .primary-btn {
          position: absolute;
          background-color: #e40007;
          color: #fff;
          font-weight: bolder;
          border: none;
          border-radius: 5px;
          padding: 16px 56px;
          font-size: 20px;
          bottom: 8px; }
          body .flex-container > main .hero .primary-btn:hover {
            animation: jiggle 0.2s ease-in-out infinite;
            transform: translate3d(0, 0, 0);
            perspective: 1000px; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes sidebar-in {
  from {
    opacity: 0;
    height: 0vh; }
  to {
    opacity: 1;
    height: 100vh; } }

@keyframes drop-in {
  from {
    transform: translateY(-100%);
    opacity: .5; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes roll-left {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes jiggle {
  0% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(1deg); } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
